.home-page {
    background-color: var(--color-dark);
    min-height: 100vh;
    padding: 1rem 0;
    color: var(--primary-text);
  
    .main-content {
      position: relative;
    }
  
    .headline {
      font-size: 3.2rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
      line-height: 1.2;
      text-align: left;
      
    }
  
    .description {
        font-size: 1.2rem;
        max-width: 700px;
        margin-bottom: 2rem;
        line-height: 1.6;
        
      }
  
    .actions {
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
      
      .action-button {
        margin-right: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        
        
        background-color: var(--accent3);
        &:hover {
          background-color: var(--accent);
        }
      }
    }
  
    .templates-section {
      margin-top: 10px;
      color: var(--primary-text);
      
      padding: .5rem;
      border-radius: 8px;
  
      .section-label {
        color: var(--accent3);
        margin-bottom: 1rem;
      }
  
      .section-headline {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: left;
        
      }
  
      .section-description {
        font-size: 1.2rem;
        max-width:540px;
        margin-bottom: 2rem;
        text-align: left;        
      }
  
      .explore-button {
        color: var(--accent2);
      }
    }
  
    .template-examples {
      margin-top: .2rem;
      padding: .5rem;
      .template-card {
        background-color: var(--accent3);
        color: var(--primary-text);
        .category-container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .arrow-icon {
            color: var(--accent);
          }
          
        }
      }
    }
  
    .template-card {
      height: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
      border-radius: 2%;
      
      .category {
        color: var(--primary-text);
      }
  
      .template-name {
        margin-bottom: 0.5rem;
        
      }
  
      .template-description {
        color: var(--primary-text);
      }
    }
  

}


.desc-container {
    display: flex;
    justify-content: left;
}

.pixel-trail-container {
    display: flex;
    justify-content: center;
    
}

.pixel-trail {
  
  height: auto;
  max-width: 22rem; /* Ensure it doesn't get larger than 22rem */
  max-height: 22rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 2%;
}
.pixel-highlight {
  background-color: #FF5252;
  color: white; // For better contrast
  
  border-radius: 2px;
  display: inline-block;
}
@media (max-width:600px) {
  .pixel-trail {
    width: 90%;
    height: 90%;
  }
}
@media (max-width: 600px) {
  .template-examples {
    .template-card {
      .category-container {
        .arrow-icon {
          display: block; // Show on mobile
          transform: rotate(90deg); // Point down on mobile
          color: var(--accent);
        }
      }
    }
  }
}
